@import '../../Styles/params';

.our-services {
    min-height: fit-content;

    .wrapper {
        padding: 2rem 0;

        .title {
            padding: 1.5em;

            .h2-title {
                text-align: center;
                text-transform: uppercase;
            }
        }

        .content {
            padding: 0 .8rem;

            .content-wrapper {

                .services {
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    justify-content: space-around;

                    .item {
                        max-width: 28%;
                        min-height: fit-content;
                        height: 70vh;
                        box-shadow: $Main_shadow;
                        background-color: $color_prim;

                        .top {
                            width: 100%;
                            height: 50%;

                            .img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .bottom {
                            height: 45%;
                            padding: .8em;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            gap: .2rem;

                            .sub-title {
                                .title {
                                    font-family: $font_prim;
                                    text-align: center;
                                    font-size: 1.5rem;
                                    padding: .5em;
                                }
                            }

                            .description {
                                font-family: $font_sec;
                                font-size: 1.2rem;
                                font-weight: 500;
                                text-align: center;
                                color: #0b0b0b;
                            }

                            .more {
                                cursor: pointer;
                                border-radius: $border_radius_prim;
                                color: $white;
                                font-weight: 500;
                                padding: .8em;
                                width: fit-content;
                                margin: 0 auto;
                                background-color: $color_ter;
                                border: none;
                                position: relative;

                            }

                            .comming-soon {
                                background-color: rgb(255, 0, 0);
                            }
                        }

                        .hidden-description-card {
                            color: $white;
                            z-index: 2;
                            top: 55%;
                            left: 50%;
                            position: fixed;
                            background-color: rgba(0, 0, 0, 0.945);
                            transform: translate(-50%, -50%);

                            width: 80%;
                            height: 70%;
                            display: flex;
                            flex-direction: column;
                            padding: 2rem;
                            justify-content: space-between;

                            .card-top {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: flex-start;
                                justify-content: space-between;
                                height: auto;

                                .duration {
                                    width: 33%;
                                    display: flex;

                                    .duration-content {
                                        padding: .7em 2em;
                                        background-color: rgb(109, 109, 109);
                                        border-radius: $border_radius_prim;
                                    }

                                }

                                .plan-price-description-title {
                                    width: 33%;

                                    .card-title {
                                        width: auto;
                                        text-align: center;
                                        border-bottom: solid 2px white;
                                        margin-bottom: .5em;
                                        padding-bottom: .5em;
                                        font-size: 1.8em;
                                    }
                                }

                                .close-btn {
                                    cursor: pointer;
                                    color: white;
                                    width: 33%;
                                    display: flex;
                                    justify-content: flex-end;
                                    
                                    .close-icon {
                                        transform: scale(1.8);
                                    }
                                }
                            }

                            .card-content {
                                height: auto;
                                padding: 1.5em 0;
                                display: flex;
                                flex-direction: column;

                                .list-of-content {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 1.5rem;

                                    .card-item {
                                        list-style-position: inside;
                                        color: white;
                                        text-align: left;
                                        font-weight: 600;
                                        font-size: 1.2rem;
                                    }
                                }
                            }

                            .bottom {
                                display: flex;
                                flex-direction: row;
                                height: auto;

                                .times {
                                    .icon {
                                        .item-icon {
                                            transform: scale(1.5);
                                        }
                                    }

                                    display: flex;
                                    flex-direction: row;
                                    gap: 1.5rem;
                                    font-weight: 600;
                                }

                                .price {
                                    .icon {
                                        .item-icon {
                                            transform: scale(1.5);
                                        }
                                    }

                                    display: flex;
                                    flex-direction: row;
                                    gap: 1.5rem;
                                    font-weight: 600;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}