@import '../../Styles/params';

.How-It-Works {
//    background-color: $color_prim;
    background-image: url('https://images.pexels.com/photos/3355732/pexels-photo-3355732.jpeg?cs=srgb&dl=pexels-quang-nguyen-vinh-3355732.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .wrapper {
        padding: 2rem 0;
        color: $white;

        .title {
            text-align: center;
            padding-left: 4%;
            padding: 1.5rem;
            h2 {
                text-transform: uppercase;
                margin-bottom: .8em;
            }
            span {
                margin-top: 1em;
            }
        }
        .content {
            padding: $em_2;

            .content-ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .item {
                    margin: 0 .2em;
                    width: 28%;
                    display: flex;
                    list-style: none;
                    flex-direction: column;

                    .top {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 45px;
                        height: 45px;
                        padding: .5em;
                        background-color: $white;
                        color: #0b0b0b;
                        border-radius: 50%;
                        font-weight: 900;
                        font-size: 1.5em;
                    }
                    .item-title {
                        text-align: center;
                        font-weight: 500;
                        font-size: 20px;
                    }
                    .bottom {
                        .content {
                            width: 80%;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .booking {
            color: white;
        }
    }

}