@import '../../Styles/params';


.Hermit-Experince {

    .wrapper {
        padding: 2rem 0;
        
        .title {
            display: flex;
            justify-content: center;
            padding-left: 4%;
            color: $color_prim;
            h2 {
                text-transform: uppercase;
                font-size: 1.8em;
                align-self: center;
                width: fit-content;
                padding: .3em 2em;
                border-bottom: solid 2px grey;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            padding: $em_2;
            padding-left: 4%;

            .whats-included {
                font-weight: 600;
                font-size: 1.5em;
            }

            .ul-wrapper {
                margin-top: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                justify-content: space-around;
                gap: $em_1;
                
                .item {
                    gap: $em_2;
                    width: 22%;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .top {
                        height: 27vh;
                        width: 27vh;
                        border-radius: 50%;
                        box-shadow: $Main_shadow;

                        .img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                    .bottom {
                        .cont-top {
                            font-weight: 800;
                            font-family: $font_sec;
                        }
                        .cont-bot {
                            font-family: $font_sec;
                            font-weight: 500;
                            text-align: center;
                        }

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}